.task{
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  padding: 1rem;
  gap: 0.75rem;

  border-radius: 0.5rem;
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.04);
  font-size: 0.875rem;
 
}
/* Checkbox Style */
.task input[type="checkbox"] {
  appearance: none;
  background-color: var(--gray-500);

  color: var(--gray-100);
  width: 1.1rem;
  height: 1.1rem;
  flex-shrink: 0;
  border: 2px solid var(--blue);
  border-radius: 50%;
  padding: 3.273px;

  display: grid;
  place-content: center;

  transition: border-color 0.2s, background-color 0.2s;
}

.task input[type="checkbox"]:hover {
  border-color: var(--blue-dark);
  background: rgba(78, 168, 222, 0.2);
}

.task input[type="checkbox"]::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.7rem;
  height: 0.6rem;
  flex-shrink: 0;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--gray-100);
  clip-path: polygon(28% 40%, 18% 55%, 42% 90%, 100% 16%, 91% 0%, 43% 60%);
}

.task input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.task input[type="checkbox"]:checked {
  box-shadow: inset 1em 1em var(--purple-dark);
  border: 0px solid var(--purple-dark);

  transition: box-shadow 0.2s;
}

.task input[type="checkbox"]:checked:hover {
  box-shadow: inset 1em 1em var(--purple);
}

.task button {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: transparent;
  border: 0;
  color: var(--gray-100);
  font-size: 0.875rem;

  transition: color 0.2s, background-color 0.2s;
}

.task button:hover {
  border: 2px solid var(--gray-400);
  border-radius: 4px;
  background: var(--gray-400);
  color: var(--danger);
}

.task p {
  flex: 1;
}

.unchecked {
   text-decoration: none;
  color: var(--gray-100);
}

.checked {
  text-decoration: line-through;
  color: var(--gray-300);
}